#编辑
#vim /usr/lib/systemd/system/zabbix_agentd.service

#脚本内容

[Unit]
Description=Zabbix Agent
After=syslog.target
After=network.target

[Service]
Environment="CONFFILE=/etc/zabbix/zabbix_agentd.conf"
EnvironmentFile=-/etc/sysconfig/zabbix-agent
Type=forking
Restart=on-failure
PIDFile=/etc/zabbix/zabbix_agentd.pid
KillMode=control-group
ExecStart=/etc/init.d/zabbix_agentd -c $CONFFILE
ExecStop=/bin/kill -SIGTERM $MAINPID
RestartSec=10s

[Install]
WantedBy=multi-user.target

#刷新配置
#systemctl daemon-reload